language: java

dist: xenial

addons:
  apt:
    packages:
      - libasound2-dev
      - libcups2-dev
      - libx11-dev
      - libxext-dev
      - libxrandr-dev
      - libxrender-dev
      - libxt-dev
      - libxtst-dev

jdk:
    - openjdk13

script:
  - sh configure
  - make images LOG=debug
