language: java

jobs:
  include:
    - os: linux
      dist: xenial
    - os: osx
      osx_image: xcode11.1

addons:
  apt:
    packages:
      - libasound2-dev
      - libcups2-dev
      - libx11-dev
      - libxext-dev
      - libxrandr-dev
      - libxrender-dev
      - libxt-dev
      - libxtst-dev

jdk:
    - openjdk13

install:
    - wget https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/lastSuccessfulBuild/artifact/jtreg-5.0-b01.tar.gz
    - tar -xvf jtreg-5.0-b01.tar.gz
    - export JT_HOME=$HOME/jtreg

script:
  - sh configure
  - make images LOG=info
  - make test-image
  - make run-test-jdk_lang
