language: java

jdk:
    - openjdk13

notifications:
  email:
    recipients:
      - cthalinger@twitter.com
    on_success: never
    on_failure: always

env:
  global:
    # VMs have 2 cores.
    - JOBS=2
    - TEST_JOBS=2
    # include $HOME/.local/bin for `aws`
    - PATH=$HOME/.local/bin:$PATH

#before_install:
#  - pyenv global 3.7.1
#  - pip install -U pip
#  - pip install awscli
#  - mkdir -p ~/$TRAVIS_BUILD_NUMBER
#  - aws s3 sync s3://travis-build-stages-shared-storage-test/$TRAVIS_BUILD_NUMBER ~/$TRAVIS_BUILD_NUMBER

install:
  - wget https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/lastSuccessfulBuild/artifact/jtreg-5.0-b01.tar.gz -O $HOME/jtreg.tar.gz
  - tar -xvf $HOME/jtreg.tar.gz -C $HOME
  - export JT_HOME=$HOME/jtreg

before_script:
  - |
      # Print some machine info.
      case $TRAVIS_OS_NAME in
        linux)
          lshw -C CPU
          free -h
          df -h
          ;;
        osx)
          sysctl -h hw.ncpu
          sysctl -h hw.memsize
          df -h
          ;;
      esac

jobs:
  include:
    # Linux
    - stage: build
      os: linux
      dist: xenial
      addons:
        apt:
          packages:
            - libasound2-dev
            - libcups2-dev
            - libx11-dev
            - libxext-dev
            - libxrandr-dev
            - libxrender-dev
            - libxt-dev
            - libxtst-dev
      env: TARGET="product-bundles"
      script:
        - sh configure --with-log=info --with-jobs=$JOBS --with-test-jobs=$TEST_JOBS
        - make $TARGET

    - stage: build
      os: linux
      dist: xenial
      addons:
        apt:
          packages:
            - libasound2-dev
            - libcups2-dev
            - libx11-dev
            - libxext-dev
            - libxrandr-dev
            - libxrender-dev
            - libxt-dev
            - libxtst-dev
      env: TARGET="test-bundles"
      script:
        - sh configure --with-log=info --with-jobs=$JOBS --with-test-jobs=$TEST_JOBS
        - make $TARGET

    - stage: test
      os: linux
      env: TEST="jdk_lang"
      script: make run-test TEST="$TEST"

    - stage: test
      os: linux
      env: TEST="jdk_util"
      script: make run-test TEST="$TEST"

    # macOS
    - stage: build
      os: osx
      osx_image: xcode11.1
      env: TARGET="product-bundles"
      script:
        - sh configure --with-log=info --with-jobs=$JOBS --with-test-jobs=$TEST_JOBS
        - make $TARGET

    - stage: build
      os: osx
      osx_image: xcode11.1
      env: TARGET="test-bundles"
      script:
        - sh configure --with-log=info --with-jobs=$JOBS --with-test-jobs=$TEST_JOBS
        - make $TARGET

    - stage: test
      os: osx
      osx_image: xcode11.1
      env: TEST="jdk_lang"
      script: make run-test TEST="$TEST"

    - stage: test
      os: osx
      osx_image: xcode11.1
      env: TEST="jdk_util"
      script: make run-test TEST="$TEST"
