language: java

addons:
  apt:
    packages:
      - libasound2-dev
      - libcups2-dev
      - libx11-dev
      - libxext-dev
      - libxrandr-dev
      - libxrender-dev
      - libxt-dev
      - libxtst-dev

jdk:
    - openjdk13

notifications:
  email:
    recipients:
      - cthalinger@twitter.com
    on_success: never
    on_failure: always

env:
  global:
    # include $HOME/.local/bin for `aws`
    - PATH=$HOME/.local/bin:$PATH

before_install:
  - pyenv global 3.7.1
  - pip install -U pip
  - pip install awscli
  - mkdir -p ~/$TRAVIS_BUILD_NUMBER
  - aws s3 sync s3://travis-build-stages-shared-storage-test/$TRAVIS_BUILD_NUMBER ~/$TRAVIS_BUILD_NUMBER

install:
  - wget https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/lastSuccessfulBuild/artifact/jtreg-5.0-b01.tar.gz -O $HOME/jtreg.tar.gz
  - tar -xvf $HOME/jtreg.tar.gz -C $HOME
  - export JT_HOME=$HOME/jtreg

before_script:
  - |
      # Print some machine info.
      case $TRAVIS_OS_NAME in
        linux)
          lshw -C CPU
          free -h
          df -h
          ;;
        osx)
          sysctl -h hw.ncpu
          sysctl -h hw.memsize
          df -h
          ;;
      esac

jobs:
  include:
    - os: linux
      dist: xenial
#    - os: osx
#      osx_image: xcode11.1
    - stage: build
      script:
        - sh configure
        - make images LOG=info
        - make test-image LOG=info
    - stage: test
      script: make run-test TEST="jdk_lang"
      script: make run-test TEST="jdk_util"
      script: make run-test TEST="jdk_math"
      script: make run-test TEST="jdk_io"
