name: JDK

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches: [ test ]
#  pull_request:
#    branches: [ master ]

env:
  CONF_NAME: output

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    strategy:
      matrix:
        os: [ linux, macos ]

    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: mstksg/get-package@v1
        with:
          # Space-separated list of packages to install using brew install.  Will only run if on OSX.
          #brew: # optional
    
          # Space-separated list of packages to install using apt-get.  Will only run if on ubuntu.
          apt-get: libasound2-dev libcups2-dev libx11-dev libxext-dev libxrandr-dev libxrender-dev libxt-dev libxtst-dev

      - uses: actions/setup-java@v1.3.0
        with:
          java-version: 13

      - uses: actions/checkout@v2

      - name: Install jtreg
        run: |
          wget https://ci.adoptopenjdk.net/view/Dependencies/job/jtreg/lastSuccessfulBuild/artifact/jtreg-5.0-b01.tar.gz -O $HOME/jtreg.tar.gz
          tar -xvf $HOME/jtreg.tar.gz -C $HOME

      - run: sh configure --with-conf-name=${{env.CONF_NAME}} --with-log=info --with-jtreg=$HOME/jtreg --with-jvm-features=-epsilongc,-shenandoahgc
      - run: make product-bundles
      - run: make test-bundles
          
      - uses: actions/upload-artifact@v1.0.0
        with:
          name: bundles
          path: build/${{env.CONF_NAME}}/bundles/
          
  test-jdk_lang:
    name: jdk_lang
    runs-on: ${{ matrix.os }}
    needs: [ build ]
    steps:
      - uses: actions/checkout@v2
      - run: sh configure --with-conf-name=${{env.CONF_NAME}} --with-log=info --with-jtreg=$HOME/jtreg --with-jvm-features=-epsilongc,-shenandoahgc
      - uses: actions/download-artifact@v1.0.0
        with:
          name: bundles
          path: build/${{env.CONF_NAME}}/bundles/
      - run: make run-test TEST="jdk_lang"

  test-jdk_util:
    name: jdk_util
    runs-on: ${{ matrix.os }}
    needs: [ build ]
    steps:
      - uses: actions/checkout@v2
      - run: sh configure --with-conf-name=${{env.CONF_NAME}} --with-log=info --with-jtreg=$HOME/jtreg --with-jvm-features=-epsilongc,-shenandoahgc
      - uses: actions/download-artifact@v1.0.0
        with:
          name: bundles
          path: build/${{env.CONF_NAME}}/bundles/
      - run: make run-test TEST="jdk_util"
